# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Firebase (DO NOT COMMIT SECRETS)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE
.vscode/
.idea/
